[Desktop Entry]
Type=Application
Name=青简设置
Name[en]=Qingjian Settings
Comment=设置青简输入法
Comment[en]=Configure the Qingjian input method
Exec=qingjian-settings
Icon=app.qingjian.Qingjian
Terminal=false
Categories=Settings;
Keywords=qingjian;input method;输入法;青简;
